
.adminActions {
  position: fixed;
  background: #222f3e;
  right: 15px;
  top: 35px;
  border-radius: 20em;
  z-index: 99999999999999;
  border-style: inset;
}

.adminButton {
  position: fixed;
  background: #222f3e;
  right: 15px;
  top: 35px;
  border-radius: 20em;
  z-index: 99999999999999;
}
