.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  border-right: 1px solid;
  border-bottom: 1px solid;
  cursor: pointer;
  background: radial-gradient(black, transparent) !important;
  border-radius: 50px 20px;
  padding: 25px;

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.1;
    position: absolute;
    top: 255p;
    display: none;
    bottom: 15%;
  }
  &:hover {
    .image {
      opacity: 1;
    }
    .custom-button {
      opacity: 0.85;
      display: inline;
      color: #5d79ae;
      border-color: #5d79ae;
      background-color: white;
      font-weight: 800;
    }
  }

  .collection-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      margin-bottom: 15px;
    }

    .price {
      margin-right: 15px;
    }
  }
}
.collection-item:hover {
  color: #5d79ae;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .collection-preview .preview {
    display: inline;
  }
  .collection-item {
    width: 97%;
  }

  .collection-item .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
}
