.sign-in {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  width: 30vw;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content:space-around;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .sign-in {
    margin-left: 10px;
    margin-right: 10px;
    width: 100vw;
    border: 1px solid white;
    padding: 20px;
    margin-top: 13px;
  }
}
